<article class="post">
    <div class="title">
        <h2 class="post-title">{{title}}</h2>
        <p class="post-author">By {{post.user.username}}</p>
    </div>
    <div class="meta">
        <p class="post-text">{{post_text}}</p>

        <a href="/posts/{{id}}">{{comments.length}}  {{format_plural "comment" comments.length}}</a>
    </div>
</article>