<article class="post">
    <div class="title">
        <a href="/post/{{id}}"><h2 class="post-title">{{title}}</h2></a>
        <p class="post-author">By {{user.username}}</p>
    </div>
    <div class="meta">
        <p class="post-text">{{post_text}}</p>

        <a href="/post/{{id}}">{{comments.length}}  {{format_plural "comment" comments.length}} || {{vote_count}} {{format_plural "like" vote_count}}</a>
    </div>
</article>